<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['']">
        <fa-icon [icon]="['fas','fire']"></fa-icon> DeathBringer
    </a>
    <button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngClass]="{'collapse': !isExpanded }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngIf="sessionHolder.isAuthenticated">
          <a class="nav-link" href=''>
            <fa-icon [icon]="['fas','user']"></fa-icon> Benvenuto, {{sessionHolder.user.userName}}
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['register']">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['users']">Users</a>
        </li>
        <li class="nav-item" *ngIf="sessionHolder.isAuthenticated">
            <a class="nav-link" href='' (click)="signOut()">SignOut</a>
        </li>
      </ul>
    </div>
  </nav>
