<ul>
    <li>
        <a [routerLink]="['register']">Register</a>
    </li>
    <li>
        <a [routerLink]="['sign-in']">SignIn</a>
    </li>
    <li>
        <a [routerLink]="['users']">Users</a>
    </li>
</ul>
<ul>
    <li>
        username: {{authenticatedUser}}
    </li>
    <li>
        original: {{authenticatedUserLastAccessDate}}
    </li>
    <li>
        formatted: {{formattedLastAccessDate}}
    </li>
    <li>
        with pipe: {{authenticatedUserLastAccessDate | moment : 'dddd' : true }}
    </li>
    <li>
        current: {{currentDate | moment : 'HH:mm:ss'}}
    </li>
</ul>

